@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font: 1.1rem/1.5 "Comfortaa", sans-serif;
  font-weight: 700;
  background-color: rgba(30, 62, 91, 0.966);
  color: #f8f8f8;
}

.li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-right: 10px;
  width: 80%;
  border-bottom: 1px solid;
}

body {
  display: grid;
  margin: 0;
  grid-template-columns: 400px 3fr;
  height: 100%;
  width: 100%;
}

#side-bar {
  width: 15rem;
  padding: 60px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

#category-input {
  width: 13.5rem;
  margin-bottom: 5px;
  border: solid 2px;
  outline: none;
  border-radius: 10px;
}

#category-input::placeholder {
  color: inherit;
  opacity: 0.5;
}

#list {
  width: 14rem;
  margin-bottom: 5px;
  border: solid 2px;
  border-radius: 10px;
  outline: none;
}

#main {
  padding: 50px;
  border: solid 2px;
  margin: 80px;
  border-radius: 20px;
  width: 60vw;
}

#all-projects {
  height: 100vh;
  width: 100%;
}

input[name="todo-input"] {
  margin-bottom: 20px;
  border: solid 2px;
  outline: none;
  font-weight: 400;
  border-radius: 10px;
}

.text {
  width: 15em;
  overflow: hidden;
}

input[name="submit"] {
  margin-left: 5px;
  height: 1.8em;
  border: solid 2px;
  width: 4em !important;
}

.todo-heading {
  margin-bottom: 0px;
}

.todo-text {
  width: 60vw;
  overflow: hidden;
  padding: 5px;
  white-space: nowrap;
  font-weight: normal;
  font-family: sans-serif;
  outline: none;
  border: none;
}

.li-container sup {
  font-size: 0.8em;
  padding: 0.2em 0.6em;
  width: 80px;
  color: #fff;
}

.buttons-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  margin-left: 6px;
}

.buttons-container button {
  padding: 5px;
  display: block;
  border: solid 1px;
  outline: none;
}
.show {
  display: flex;
}

/* Modal Box styling */

.modalBox {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modalBoxContent {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.modalBoxContent * {
  padding: 5px 5px;
}

.modalBox .close-icon {
  border: none;
  display: flex;
  justify-content: end;
}

.modalBox .popUpBox-body .listed-category {
  display: flex;
  align-items: center;
  background-color: inherit;
}

.modalBox h2 {
  margin: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

form {
  padding: 10px;
  border: solid;
  border-radius: 20px;
}

#categories-list {
  padding: 0px;
}

.added-category {
  /* margin-left: -1px;
  margin-top: -2px;
  border: solid 2px; */
  border: none;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

input[type="button"],
button {
  cursor: pointer;
}

input[type="button"],
#add-button,
#remove-button {
  background-color: #e1304e;
  border: none;
  width: 6rem;
  border-radius: 10px;
  padding: 2px;
}

.category-time {
  border-bottom: 1px dashed;
}

.category-div {
  width: 90%;
}

.category-div > h2 {
  text-transform: uppercase;
  padding: 5px;
}

.todo-project-date {
  margin: 10px 0px 0px;
  font-style: italic;
}

.category-content .li-container {
  margin: 0px;
}

.input {
  font-style: italic;
}

.date {
  background: rgb(116, 116, 116);
  color: #fff;
  border: none;
  padding: 5px;
  width: 10em;
  cursor: pointer;
  border-radius: 10px;
}

#home-btn,
#projects-btn {
  background: rgb(116, 116, 116);
  color: #fff;
  border: none;
  height: 2rem;
  margin-bottom: 5px;
  padding: 5px 0px;
  border-radius: 20px;
}

.dropButton {
  margin-left: 5px;
  border: solid 2px;
  border-radius: 5px;
}

@media screen and (max-width: 1540px) {
  #main {
    width: 50%;
  }

  .li-container {
    width: 60%;
  }

  input[name="todo-input"] {
    font-family: sans-serif;
    width: 13em;
    padding: 5px 10px;
  }

  #side-bar {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 300px 3fr;
  }

  input[name="submit"] {
    width: 30%;
  }

  .li-container {
    width: 60%;
  }

  input[name="todo-input"] {
    width: 60%;
  }

  #category-input {
    width: 90%;
  }

  #list {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  body {
    grid-template-columns: repeat(1, 1fr);
  }

  input[name="todo-input"] {
    width: 65%;
  }

  .date {
    width: 90%;
  }

  .li-container {
    width: 90%;
  }

  #main {
    margin-top: 0px;
  }

  #side-bar {
    width: 62%;
    margin-left: 20px;
  }
}
